.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/

project.lock.json
project.fragment.lock.json
artifacts/

appsettings.*.json
appsettings.json

.idea/

TestResults/

node_modules/
npm-debug.log

.DS_Store
*.swp

*.log

.env
.env.*
secrets.json

*.mdf
*.ldf
